name: Spring Boot & Gradle CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 기본 체크아웃
      - name: checkout
        uses: actions/checkout@v3

      # JDK version 설정
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      # 설정 파일 생성 및 write
      - name: make env file
        run: |
          # 설정 파일 디렉토리로 이동
          cd ./src/main/resources
          
          # application-database.yaml 파일 생성
          touch ./application-database.yaml

          # GitHub-Actions 에서 설정한 값을 application-database.yaml 파일에 쓰기
          echo "${{ secrets.DATABASE }}" >> ./application-database.yaml
          
          # application-jwt.yaml 파일 생성
          touch ./application-jwt.yaml
          
          # GitHub-Actions 에서 설정한 값을 application-jwt.yaml 파일에 쓰기
          echo "${{ secrets.JWT }}" >> ./application-jwt.yaml

        shell: bash

      # Gradle build
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Gradle wrapper
        run: gradle wrap

      - name: Build with Gradle
        run: ./gradlew build
        shell: bash
